<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xpc.myimdemo">



    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".function.sign.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".function.friend.FriendsActivity"></activity>
        <activity android:name="com.xpc.myimdemo.function.sign.RegisterActivity"></activity>
        <activity android:name="com.xpc.myimdemo.function.sign.InfoActivity"></activity>
        <activity android:name="com.xpc.myimdemo.function.sign.ForgotActivity"></activity>
    </application>

</manifest>